[Unit]
Description=Wasserzaehler-Logger
After=multi-user.target

[Service]
WorkingDir=/home/russ/bin/measurements/zaehlerablesung
ExecStart=/usr/bin/python /home/russ/bin/measurements/zaehlerablesung/get_wasserzaehler.py

[Install]
WantedBy=multi-user.target
